.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    background-color: aqua;
}


.containerIniciar {
    max-width: 500px; 
    width: 100%; 
    padding: 42px; 
    box-sizing: border-box; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0010pxrgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .inputs, .submit-container {
    width: 100%;
    margin-bottom: 48px; 
}

.header {
    text-align: center;
}

.header.text {
    font-size: 24px;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column;
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

.inputimg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.inputinput {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit {
    background-color: #010402; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

.submit:hover {
    background-color: #010402; 
}


.error-messager {
    color: red;
    text-align: center;
}
